@{
    ViewBag.Title = "電気料金支払いシステム";
}

<div class="jumbotron">
    <p>ログイン名：○○事業部　○○様</p>
    <br />
    <p>管理ID：
        <input type="text" name="name" size="30">
    </p>
    <br />
    <p>変更情報：
        <input type="text" name="name" size="30">
    </p>
    <br />
    <p>申請日：
        <input type="text" name="name" size="30">
    </p>
    <br />
    <p>申請者：
        <input type="text" name="name" size="30">
    </p>
    <br />
    <p>ステータス：
        <input type="text" name="name" size="30">
    </p>
</div>

<p>

    <a href="@Url.Action("Index", null,new { area = string.Empty, controller = "Lendlist" }, Request.Url.Scheme)" >
    <span class="btn btn-primary btn-lg">検索</span> </a>
    
    <a class="btn btn-primary btn-lg">クリア </a>

</p>
